
body {
    font-family: calibri, verdana, arial;
    letter-spacing: 1px;
    line-height: 10px;
    font-size: 12px;
    background-image: url(bg/clouds3.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-color: rgb(30, 14, 51);
    color: antiquewhite;
    display: table;
    margin: auto;
    cursor: url('normal-cursor.png'), default; 
}

table {
    background-color: rgb(38, 48, 68);
    border: 1px solid black;
    border-radius: 8px;
}
td {
    vertical-align: top;
    padding: 0%;
}

img {
    vertical-align: top;
}

a {
    color: rgb(236, 128, 240);
}

i, b {
    color: #ffa365;
}

.title1 {
    background-color: rgb(254, 131, 0);
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}
.title2 {

    background-color: rgb(73, 0, 128);
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}

.navigation {
  background-color: #432d50;
}

.titlebar {
  color: yellow;
} 

.oldboy {
    background-image: url(bg/clouds2.jpg);
    background-size:cover;
}

.fuches {
    color: yellow;
    background-image: url(bg/clouds2.jpg);
    background-size:cover;
}

.scriptbox {
    color: yellow;
    background-image: url(bg/clouds2.jpg);
    background-size: cover;
}

.scroller {
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: rgb(254, 131, 0) rgb(38, 48, 68);
} 