
body {
    font-family: calibri, verdana, arial;
    letter-spacing: 1px;
    line-height: 10px;
    font-size: 10px;
    background-image: url(bg/clouds.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    display: table;
    margin: auto;
    cursor: url('normal-cursor.png'), default; 
}

table {
    background-color: rgb(56, 49, 43);
    border: 1px solid black;
    border-radius: 5px;   
}
td {
    vertical-align: top;
    padding: 0%;
}

img {
    vertical-align: top;
}

a {
    color: rgb(128, 199, 240);
}

i {
    color: #ff530f;
}

b {
    color: rgb(111, 221, 111)
}

.title1 {
    background-color: rgb(239, 255, 22);
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}
.title2 {

    background-color: rgb(208, 22, 255);
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}

.navigation {
  background-color: #432d50;
}

.titlebar {
    background-color: rgb(38, 48, 68);
}

.oldboy {
    background-image: url(bg/clouds2.jpg);
    background-size:cover;
}

.fuches {
    color: rgb(255, 251, 0);
    background-image: url(bg/mandelbrot.jpg);
    background-size:cover;
}